.contactListItem {
  width: 250px;
  background-color: rgb(115, 255, 0);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3px;
  padding-right: 40px;
  padding-left: 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}
.deleteBtn {
  position: absolute;
  right: 10px;
  background: azure;
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.deleteBtn:hover {
  background: gray;
  color: aliceblue;
  padding: 12px 20px;
  border-radius: 5px;
}
